.app
  display: flex
  width: 100%
  min-height: 100%
  position: relative

.app__sidebar
  flex: 0 0 300px
  overflow: hidden

.app__main
  flex-grow: 2
  overflow: hidden

.app__posts-list
  flex-grow: 0.5
  overflow: hidden
