.mobile-posts
.mobile-posts__post
.mobile-post__link
  display: block
  color: $_black
  &:active
    background-color: #cccccc
  &:active, &:hover, &:focus
    text-decoration: none
.mobile-posts__date
.mobile-posts__comment-count
.mobile-posts__title

.moblie-post__icon
  width: 30px
  height: 30px
  +border-radius(50%)
