%ul.posts
  - posts.each do |post|
    %li.posts__list-item{id: "post-#{post.id}"}
      = link_to [post.user, post], remote: true, class: 'posts__list-item-link js-posts-list-item' do
        .posts__list-item-date= l post.created_at
        .posts__list-item-title= post.title
